[Desktop Entry]
Name=Pop! Profile Settings
GenericName=Security & Power Profile Manager
Comment=Configure, test, and import security and power profiles for Pop!_OS
Exec=pop-profile-gui
Icon=preferences-system
Terminal=false
Type=Application
Categories=Settings;HardwareSettings;Security;System;
StartupNotify=true
StartupWMClass=io.github.mzia.PopProfile.Settings
Keywords=profile;security;ufw;firewall;power;framework;battery;sysctl;
